h3 {
    text-align: center;
}

.head div {
    border: solid 1px gray;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.content div {
    border: solid 1px gray;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.head input{width: 120px;}
.head  td{
    width: 300px;
}
table {
    width: 900px;
    border-collapse: collapse;
}

tr {
    text-indent: 30px;
    margin-top: 10px;
}

.top {
    height: 40px;
    background-color: darkgray;
    text-indent: 2px;
}

input {
    display: inline-block;
    margin-left: 25px;
}

footer {
    position: absolute;
}

button {
    background-color: deepskyblue;
    position: relative;
    left: 550px;
}